@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: darkslateblue;
}

.content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: none;
}

.content .container {
    width: 500px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(./img/cancel.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.container h2 {
    color: darkslategrey;
    font-weight: 500;
    font-size: 21px;
    margin: 10px;
    margin-bottom: 0;
}

.container p {
    font-weight: lighter;
    font-size: 12px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

input[type="email"] {
    width: 250px;
    border: 2px solid darkslategray;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form a {
    font-size: 12px;
    color: gray;
    display: inline-block;
}

button {
    border: 1px solid darkslategray;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: darkslategray;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

button:hover {
    background: lightslategray;
}